<form action ="/bikeshops" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h4>Enter a new Bike Shop:</h4>
  <h5>Shop Name: </h5><input type="text" name="bikeshop[name]"></textarea><br/>
  <h5>Number of Employees:</h5><input type="integer" name="bikeshop[employees]"></textarea><br/>
  <h5>Rewards Program?:</h5><input type="boolean" name="bikeshop[rewards_program]"></textarea><br/>
  <input id="submit" type="submit"/>
</form>